<app-nav-bar></app-nav-bar>

<div class="container">
  <div class='general__page'>
    <div class='sidebar-section'>
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" class="nav--checkbox"/>
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" class="">
            <li><a href="#">Настройки</a></li>
            <li><a href="#">Контроль веса</a></li>
            <li><a href="#">Сумка в роддом</a></li>
            <li><a href="#">Что-то ещё</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="main-section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

