<app-nav-bar></app-nav-bar>

<div class="container">
  <div class='page'>
    <div class='section'>
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" class="nav--checkbox"/>
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" class="test-li ">
            <li><a href="#">Настройки</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class='content'>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

